.quizz-container {
  
}

.quizz-div-global {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.quizz-div {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  text-align: center;
  div {
    flex: 0 0 calc(50% - 10px);
  }
}
