* {
  padding: 0;
  margin: 0;
}
:root {
  --footer-height: 35px;
}
body {
  position: relative;
  min-height: 100vh;
  padding-bottom: calc(var(--footer-height) + 30px);
  background-image: url(assets/ciel.png);
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #bddbf5;
  padding: 10px;
}

img {
  width: 130px;
}

input {
  display: none;
}

li {
  display: none;
}

li:hover {
  color: white;
}
.sw {
  margin: 0 auto;
  max-width: 60%;
}
.img {
  min-width: 100%;
  height: 70vh;
  object-fit: cover;
  background-size: cover;
  background-position: center;
}

footer {
  background-color: #bddbf5;
  position: absolute;
  width: 100%;
  height: 50px;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

footer button {
  display: none;
}

@media screen and (min-width: 760px) {
  li {
    list-style-type: none;
    display: inline;
    padding: 16px;
  }

  .navLinks {
    display: flex;
    align-items: center;
  }

  input {
    display: block;
    border: none;
    align-self: center;
    border-radius: 50px;
    height: 1.875rem;
    width: 12.5rem;
    margin-top: 10px;
    margin-right: 10px;
    padding: 5px;
  }
  footer {
    justify-content: space-evenly;
    height: 100px;
  }

  footer button {
    display: block;
    max-width: 10%;
    padding: 5px;
  }

  .hamburger-react {
    display: none;
  }
}

