$primary-color: #eaeaea;

* {
  padding: 0;
  margin: 0;
}

:root {
  --footer-height: 35px;
}

body {
  position: relative;
  min-height: 100vh;
  padding-bottom: calc(var(--footer-height) + 30px);
  background-image: url(assets/ciel.png);
  background-repeat: no-repeat;
  background-size: cover;
}

footer {
  background-color: $primary-color;
  position: absolute;
  width: 97%;
  height: 3.125rem;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 15px;
  border-radius: 10px;
}

footer button {
  display: none;
}

#pageFilm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#img-film-container {
    width: 18rem;
    height: 15rem;
    background-color: lightgoldenrodyellow;
}

#trailer-container {
  width: 18rem;
  height: 15rem;
  background-color: lightgoldenrodyellow;
}

@media screen and (min-width: 760px) {
  footer {
    justify-content: space-evenly;
    height: 6.25rem;
  }

  footer button {
    display: block;
    max-width: 20%;
    padding: 0.313rem;
  }
  .slideOutMenu.open {
    display: none;
  }
  .input {
    display: inline;
  }
}
