$primary-color: #eaeaea;

* {
  padding: 0;
  margin: 0;
}

:root {
  --footer-height: 35px;
}

body {
  position: relative;
  min-height: 100vh;
  padding-bottom: calc(var(--footer-height) + 30px);
  background-image: url(assets/ciel.png);
  background-repeat: no-repeat;
  background-size: cover;
}

footer {
  background-color: $primary-color;
  position: absolute;
  width: 97%;
  height: 3.125rem;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 15px;
  border-radius: 10px;
}

footer button {
  display: none;
}

@media screen and (min-width: 760px) {
  li {
    list-style-type: none;
    display: inline;
    padding: 16px;
  }

  .navLinks {
    display: flex;
    align-items: center;
  }

  input {
    display: block;
    border: none;
    align-self: center;
    border-radius: 3.125rem;
    height: 1.875rem;
    width: 12.5rem;
    margin-top: 0.625rem;
    margin-right: 0.625rem;
    padding: 0.313rem;
  }

  footer {
    justify-content: space-evenly;
    height: 6.25rem;
  }

  footer button {
    display: block;
    max-width: 20%;
    padding: 0.313rem;
  }
  .slideOutMenu.open {
    display: none;
  }
  .input {
    display: inline;
  }
}
