.global-container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 12px;
  margin-bottom: 100px;
}

.button-son {
  width: 70px;
  height: 50px;
  position: absolute;
  right: 20px;
  z-index: 2;
  background: none;
  border: none;
}

.img-son {
  width: 50px;
  height: 50px;
}

.fleche-top {
  position: fixed;
  bottom: 8rem;
  right: 1rem;
  height: 40px;
  width: 40px;
  background: none;
  border: none;

  .img-fleche-top {
    width: 40px;
  }
}

@media screen and (min-width: 760px) {
  .slideOutMenu.open {
    display: none;
  }

  .input {
    display: inline;
  }
  .img-son {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 80px;
    right: 20px;
    z-index: 2;
  }
}
