.all {
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  .title-favorite {
    display: flex;
    justify-content: center;
    h1 {
      position: relative;
      z-index: 2;
      width: 300px;
      padding: 10px;
      background-color: rgba(128, 128, 128, 0.5);
      border-radius: 20px;
    }
  }
}

.title-favorite {
  h1 {
    position: relative;
    z-index: 2;
  }
}
