.container-filter {
  display: flex;
  flex-direction: column;
  background-color: rgba(234, 234, 234, 0.5);
  padding: 10px;
  border-radius: 25px;
  position: relative;
  z-index: 2;

  .fil-title {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  .filter-title {
    display: flex;
    justify-content: space-around;

    .filter-range {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;

      .filter-star {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }
    }

    .filter-director {
      form {
        display: flex;
        flex-direction: column;

        div {
          display: flex;
          align-items: center;
          position: relative; /* Nécessaire pour positionner les cases à cocher */
          margin-bottom: 10px; /* Espace entre chaque paire de label et input */
        }

        label {
          flex: 1; /* Les labels occupent tout l'espace disponible horizontalement */
          margin-right: 10px; /* Espace entre le label et l'input */
          text-align: right; /* Alignez le texte du label à droite */
        }
      }
    }
  }
}
