footer {
  background-color: $primary-color;
  height: 3.125rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  margin: 15px;
}
@media screen and (min-width: 760px) {
  footer {
    justify-content: space-evenly;
    height: 6.25rem;
  }

  footer button {
    display: block;
    max-width: 20%;
    padding: 0.313rem;
  }
}
