.moovie-container {
  display: flex;
  max-width: 100%;
  border-radius: 25px;
  background-color: rgba(128, 128, 128, 0.356);
  justify-content: center;
  flex-direction: column;
  margin-top: 2rem;
  max-height: 60%;
  margin-bottom: 100px;

  .inputRange {
    margin: 0 auto;
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 90px;

    p {
      width: 40%;
      height: 40px;
      display: flex;
      justify-content: center;
      margin: 0 auto;
    }
    span {
      text-align: center;
      font-size: 2rem;
    }
    input {
      margin: 0 auto;
      width: 40%;
      height: 30px;
    }
  }
  .api {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 2rem;

    .moovie-div {
      text-align: center;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;
      width: 50%;
      max-width: 200px;
      padding: 5px;
      background-color: #eaeaea53;
      border-radius: 25px;
      margin-bottom: 25px;
    }

    .moovie-img {
      border-radius: 25px;
      padding-top: 10px;
      width: $img-width;
    }

    .moovie-h3 {
      padding: 10px 5px 5px 5px;
      font-size: 1.1rem;
    }
  }
}
