.movie-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
  padding: 10px;
  gap: 20px;
  border-radius: 25px;
  background-color: rgba(128, 128, 128, 0.356);
  position: relative;
  z-index: 2;

  .movie-div {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 200px;
    padding: 5px;
    background-color: #eaeaea53;
    border-radius: 25px;
    margin-bottom: 25px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.548);
  }

  .movie-img {
    border-radius: 25px;
    padding-top: 10px;
    width: $img-width;
  }

  .movie-h3 {
    padding: 10px 5px 5px 5px;
    font-size: 1.1rem;
  }
  .heart {
    width: 20px;
    height: 20px;
    z-index: 50;
  }
}
