.navbar-custom {
  background-color: $primary-color !important;
  width: calc(
    100% - 1.875rem
  ); /* Réduire la largeur de la navbar en ajoutant des marges sur les côtés */
  border-radius: 0.625rem;
  margin: 0.938rem;

  .logo-img {
    max-height: 2.5rem;
    max-width: 8.125rem;
  }
  .search-input {
    border-radius: 0.938rem;
    border: 1px solid #ced4da;
  }
}

.fixed-top {
  position: relative;
}

.nav-link:hover {
  color: white;
}

@media (max-width: 760px) {
  .navbar-custom .navbar-collapse {
    background-color: $primary-color;
    border-radius: 0 0 0.625rem 0.625rem;
  }
  .navbar-custom .navbar-collapse .search-input {
    margin-top: 0.625rem;
  }
}
