.navbar-custom {
  background-color: rgba(255, 255, 255, 0.557) !important;
  width: calc(
    100% - 1.875rem
  ); /* Réduire la largeur de la navbar en ajoutant des marges sur les côtés */
  border-radius: 0.625rem;
  margin: 0.938rem;

  .logo-img {
    height: 4.5rem;
    min-width: 9.125rem;
  }
  .me-auto {
    margin-left: 20px;
    min-width: 30%;
    display: flex;
    justify-content: space-between;

    a {
      text-decoration: none;
      color: black;
      font-size: 1rem;
      margin: 10px;
      text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.548);
    }
  }
  .search-input {
    border-radius: 0.938rem;
    border: 1px solid #ced4da;
  }
}

.fixed-top {
  position: relative;
}

.nav-link:hover {
  color: white;
}

@media (max-width: 810px) {
  .navbar-custom .navbar-collapse {
    background-color: $primary-color;
    border-radius: 0 0 0.625rem 0.625rem;
  }
  .navbar-custom .navbar-collapse .search-input {
    margin-top: 0.625rem;
  }
}
