#pageFilm {
  display: block;
  justify-content: center;
  align-items: center;
}

#img-film-container {
  display: flex;

  width: 100%;
  border: 2px solid #eaeaea;
  border-radius: 2rem;
}
#img-film {
  border-radius: 2rem;
}

#movie-title-page {
  display: flex;
  text-align: center;
  margin: 1rem 0;
}

.img-desc {
  display: flex;
  margin: 0 2rem;
}

.synopsis-infos {
  background-color: #ced4da;
  padding: 1rem;
  border-radius: 2rem;
}

#trailer-container {
  width: 30rem;
  height: auto;
  margin-top: 2rem;
}
#img-trailer {
  width: 100%;
  border-radius: 2rem;
}

h6 {
  display: flex;
}
p {
  margin: 0 1rem;
}

@media screen and (max-width: 770px) {
  #synopsis-container {
    margin: 0 2rem;
  }

  #more-infos {
    margin: 2rem;
  }
}
