#pageFilm {
  background-color: rgba(128, 128, 128, 0.356);
  border-radius: 20px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.548);
  margin: 0 1rem;
  position: relative;
  z-index: 2;
}

#img-film {
  margin-top: 1rem;
  width: 20rem;
  border-radius: 20px;
  background-color: rgba(128, 128, 128, 0.356);
  border-radius: 20px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.548);
}

#img-film-container {
  display: flex;
  justify-content: center;
  margin: 2rem;
}

.synopsis-infos {
  margin: 2rem;
}

.characters {
  margin: 0;
}

.iframe {
  width: 560px;
  border-radius: 10px;
}

#trailer-container {
  display: flex;
  justify-content: center;
  margin: 1rem;
  padding-bottom: 1rem;
}

h4 {
  margin-top: 1rem;
}

@media screen and (min-width: 900px) {
  body {
    background-size: cover;
  }
}

@media screen and (min-width: 770px) {
  #pageFilm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 2rem;
    min-height: 300px;

    .img-desc {
      display: grid;
      grid-template-columns: 1fr 1fr;
      min-height: 500px;
      margin: 2rem;

      #img-film {
        height: 28rem;
        background-image: cover;
      }
    }
    .synopsis-infos {
      padding: 20px;
      width: 95%;
      min-height: 300px;

      h2 {
        font-size: 1.3rem;
        margin-bottom: 10px;
      }

      .description {
        margin-bottom: 20px;
        min-height: 100px;
        line-height: 20px;
        padding: 10px;
      }
      #more-infos {
        min-height: 100px;

        h4 {
          font-size: 1.5rem;
          margin-bottom: 20px;
          min-height: 100px;
          line-height: 20px;
        }
        h5 {
          font-size: 1rem;
          margin-bottom: 20px;
        }
        .heart {
          width: 20px;
          height: 20px;
          z-index: 50;
        }
      }
    }
  }
  #trailer-container {
    margin: 5px;
    min-height: 200px;

    img {
      width: 373px;
      max-height: 300px;
      border-radius: 20px;
    }
    .container-characters {
      display: flex;
      flex-direction: column;
      width: 100%;
      h6 {
        height: 20px;
        padding: 0 20px;
      }
      .characters {
        min-height: 20px;
        font-size: 0.9rem;
        padding: 0 20px;

        li {
          list-style: none;
          color: black;
        }
      }
    }
  }
}
